html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  width: 100vw;
  height: 50px;
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
}

.header {
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin: 0px 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu img,
.search img {
  height: 25px;
}

.search {
  margin-left: auto;
  position: absolute;
  right: 0px;
}

.logo img {
  height: 20px;
  margin-left: 10px;
}

.title-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title {
  width: 100%;
  max-width: 650px;
  margin: 0px 15px;
  border-bottom: 1px solid lightgray;
}

#article-name {
  font-family: serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 20px;
}

.title p {
  font-size: 0.8rem;
  font-weight: 200;
  color: #606060;
  margin-top: -15px;
}

.toolbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 650px;
  height: 45px;
  margin: 0px 15px;
  border-bottom: 1px solid gray;
}

.toolbar img {
  width: 22px;
}

.toolbar a:first-of-type {
  margin-right: auto;
}

.toolbar a:last-of-type {
  margin-left: 10px;
}

.intro-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.intro {
  width: 100%;
  max-width: 650px;
  margin: 0 15px;
}

.intro p {
  font-size: 0.95rem;
  font-weight: 300;
  color: rgb(65, 65, 65);
}

.intro span {
  font-weight: 700;
}

.intro a {
  text-decoration: none;
  color: rgb(0, 72, 255);
}